<div class="chat">
  <div class="chat-header">
    <div class="logo">
      <i class="fa-brands fa-facebook-messenger"></i>
      <h3>Chat App</h3>
    </div>
    <p id="user-name">User Name</p>
  </div>
  <div class="chat-body">
    <div class="chat-wrap">
      <div class="chat-content">
        <div class="message">
          {{! <div class="message-row other-message">
            <div class="message-title">
              <span>Hello</span>
            </div>
            <div class="message-text">Lorem ipsum dolor sit amet.</div>
            <div class="message-time">
              now
            </div>
          </div> }}
          {{! <div class="message-row my-message">
            <div class="message-title">
              <span>Hello</span>
            </div>
            <div class="message-text">Lorem ipsum dolor sit amet.</div>
            <div class="message-time">
              now
            </div>
          </div> }}
        </div>
      </div>
      <form action="" class="message-form">
        <input
          type="text"
          name="msg"
          id="msg"
          placeholder="message"
          autocomplete="off"
        />
        <button class="btn-form" type="submit" id="btn-send"><i
            class="fa-solid fa-paper-plane"
          ></i></button>
      </form>
    </div>
  </div>
  <div class="chat-footer">
    <p>Made by Cuong Nguyen</p>
  </div>
</div>