@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,700;1,800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #0F1569;
    overflow: hidden;
    box-shadow: 1px solid #0F1569;
    background-color: #3cadf8;
}

.chat-header {
    min-height: 50px;
    overflow: hidden;
    background-color: #2499dd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #ffffff;
}

.chat-header h3 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

#user-name {
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.chat-body {
    padding: 20px;
}

.chat-wrap {
    width: 100%;
    height: 500px;
}

.chat-content {
    width: 100%;
    height: 450px;
    background-color: #fff;
    overflow-y: auto;
    border-radius: 5px;
    scrollbar-width: none;
}

.message {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 10px;
}

.other-message {
    justify-content: start;
    justify-items: start;
    margin-left: 5px;
}

.my-message {
    justify-content: end;
    justify-items: end;
    margin-right: 5px;
}

.message-title {
    font-weight: bold;
    color: #232b9c;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.message-text {
    padding: 9px 14px;
    margin-bottom: 3px;
}

.message-time {
    font-size: 13px;
    color: #ccc;
}

.my-message .message-text {
    background-color: #e76f6f;
    color: white;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    border: 1px solid #e76f6f;
    background-color: #eee;
    color: #111;
    border-radius: 14px 14px 14px 0px;
}

.message-form {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.message-form input {
    width: 85%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.message-form .btn-form {
    text-align: center;
    outline: none;
    border: none;
    width: 15%;
    font-size: 18px;
    padding: 12px;
    margin-left: 5px;
    background-color: #22d1fd;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s linear;
}

.message-form .btn-form:hover {
    background-color: #0d7994;
}

.chat-footer {
    text-align: center;
}

.chat-footer p {
    color: #e2d1d1;
    padding: 2px 0;
    font-size: 12px;
}